Repository Team-SoundHub/Let-s-Note, pull requests merged in 2024-02, with the labels that each got.

#132 frontend/노트관련에러
  frontend/src/api/workSpaceApi.js
  frontend/src/app/slices/innerContentSlice.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/SnapshotPage.js
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, 🌈 frontend

#133 hotfix : snapshotCreate
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/application/impl/SnapshotInstrumentMapImpl.java
Labels: 🔥 backend, 🐛 bug

#134 chore: 작업실 노트 소켓 통신 spaceId 전달 로직 수정
  frontend/src/App.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/SnapshotPage.js
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 🌈 frontend

#136 Feat/135 box UI수정 피아노,음계 표현
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#137 feat: 구글 cse를 활용한 악보 불러오기 추가
  frontend/src/api/googleCustomSearchApi.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#139 Frontend/feat/재생 바 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/LandingPage.jsx
  frontend/src/synth/Synth.js
Labels: 💫 feat, 🌈 frontend

#140 Back/test/mouse event
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/api/WorkspaceController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/NoteInstrumentMapService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/NoteInstrumentMapImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/SocketRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/SocketResponse.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/security/config/SecurityConfig.java
  frontend/public/audio/piano/filelist.txt
  frontend/src/App.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 🔥 backend, 🐛 bug, 💫 feat, 🌈 frontend

#141 Frontend/feat/Progressbar 구현
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatControls/BeatsPerMinute.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/MyPage/CreateSpaceModal.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#142 feat: 구글 CSE 관련 백, 프론트 코드 작성
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/api/FileController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/application/FileService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/application/impl/FileServiceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/dao/FileRepository.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/dto/FileRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/dto/FileResponse.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/entity/File.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/util/FileUtil.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/security/config/SecurityConfig.java
  frontend/src/api/fileGetApi.jsx
  frontend/src/api/fileStoreApi.jsx
  frontend/src/api/googleCustomSearchApi.jsx
  frontend/src/components/WorkSpace/FileStoreModal.jsx
  frontend/src/components/WorkSpace/NoteImage.jsx
  frontend/src/components/WorkSpace/NoteStorage.jsx
  frontend/src/components/WorkSpace/SearchImageModal.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#144 Back/feat/mouseposition
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/SocketResponse.java
  frontend/src/App.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 🔥 backend, 💫 feat

#145 feat: 로그인 관련 버그 수정
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MyPage.jsx
Labels: 🐛 bug, 🌈 frontend

#147 Feat/146 progress bar추가
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: ⚙️ chore, 🌈 frontend

#152 feat, fix: 마우스 커서 구현, 소켓컨테이너 구조 변경, accountId와 spaceId가 null 값인 문제, 마지막 노트 잔상 문제 해결
  frontend/src/api/myPageApi.js
  frontend/src/api/nicknameApi.js
  frontend/src/app/slices/cursorSlice.js
  frontend/src/app/slices/innerContentSlice.js
  frontend/src/app/store.js
  frontend/src/assets/workspace/cursor.png
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/CursorPointer.js
  frontend/src/components/WorkSpace/Cursors.jsx
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/ChatContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 💫 feat, 🌈 frontend

#153 fix: 드럼 삭제 안되는 버그 해결
  frontend/src/components/BeatColumn/DrumBox.js
Labels: 🐛 bug, 🌈 frontend

#154 feat: CSE UI 수정
  frontend/src/components/WorkSpace/NoteImage.jsx
  frontend/src/components/WorkSpace/NoteStorage.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/NoteContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#155 Frontend/커서개선
  frontend/src/components/WorkSpace/Cursor/CursorAnimation.js
  frontend/src/components/WorkSpace/Cursor/CursorPointer.js
  frontend/src/components/WorkSpace/Cursor/Cursors.jsx
  frontend/src/components/WorkSpace/CursorPointer.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#157 Back/feat/loop
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/api/WorkspaceController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/NoteInstrumentMapService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/NoteService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/WorkspaceService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/NoteImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/NoteInstrumentMapImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/WorkspaceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/SocketRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/SocketResponse.java
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 🔥 backend, 💫 feat

#158 feat : 작업실 삭제
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/api/WorkspaceController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/WorkspaceService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/WorkspaceImpl.java
Labels: 🔥 backend, 💫 feat

#164 Frontend/헤더수정
  frontend/src/components/WorkSpace/AddMemberModal.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#163 Frontend/feat/note find UI fix and set default col - 200
  frontend/src/api/fileGetApi.jsx
  frontend/src/api/fileStoreApi.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#166 feat: 소켓 아키텍처 보강 및 기능 추가
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/security/AccountPrinciple.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/security/WebSocketSecurityInterceptor.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/utility/WebSocketUtility.java
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 🔥 backend, 💫 feat

#167 Deploy/api url
  .gitignore
  frontend/src/api/axiosInstance.js
  frontend/src/api/chatApi.js
  frontend/src/api/feedApi.js
  frontend/src/api/loginApi.js
  frontend/src/app/slices/imageSlice.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/pages/WorkPlacePage.js
  frontend/src/utils/io.js
Labels: 🗃 infra

#169 커서 주석 해제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/WorkSpace/ImagePreviewModal.jsx
  frontend/src/components/WorkSpace/NoteStorage copy.jsx
  frontend/src/components/WorkSpace/SearchImageModal.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/workplace/NoteContainer.jsx
  frontend/src/pages/WorkPlacePage.js
  frontend/tailwind.config.js
Labels: 🌈 frontend

#170 Frontend/악보UI변경
  frontend/src/components/WorkSpace/ImagePreviewModal.jsx
  frontend/src/containers/workplace/NoteContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: ⚙️ chore, 🌈 frontend

#172 Frontend/feat/악보 UI 개선
  frontend/src/components/infra/GoogleCustomSearch.jsx
Labels: 💫 feat, 🌈 frontend

#177 Frontend/feat/악보 관련 버튼 하나로 결합
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatReset.js
  frontend/src/components/Note/FileStoreModal.jsx
  frontend/src/components/Note/NoteImage.jsx
  frontend/src/components/Note/NoteNavHeader.js
  frontend/src/components/Note/NoteStorage.jsx
  frontend/src/components/Note/SearchImageModal.jsx
  frontend/src/components/WorkSpace/ImagePreviewModal.jsx
  frontend/src/components/WorkSpace/NoteImage.jsx
  frontend/src/components/WorkSpace/NoteModal.js
  frontend/src/components/WorkSpace/NoteStorage.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/containers/Note/NoteSearchModal.js
  frontend/src/containers/Note/NoteViewModal.js
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/NoteContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#178 Frontend/feat/재생 바 수정, col control 버튼 위치 변경, grid UI 수정
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatControls/BeatChange.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatControls/BeatsPerMinute.js
  frontend/src/components/BeatControls/RangeInput.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/InstrumentControl/InstrumentChange.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#180 feat: 회원 정보 수정 기능 일부 구현
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/api/FileController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/application/FileService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/application/impl/FileServiceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/dao/AccountFileRepository.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/dto/FileRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/entity/AccountFile.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/util/FileUtil.java
  frontend/src/components/WorkSpace/ChangeAccountInfoModal.jsx
  frontend/src/components/common/Header.js
  frontend/src/pages/MyPage.jsx
Labels: 🔥 backend, 🐛 bug, 💫 feat, 🌈 frontend

#181 Back/chore/버그수정 및 ssl허용 url 추가
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/NoteImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/security/config/SecurityConfig.java
Labels: 🔥 backend, 🐛 bug, ⚙️ chore

#183 Feat/182 편집실UI개선
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatControls/BeatChange.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatToggle.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#184 Front/css 추가
  frontend/public/index.html
  frontend/public/letsnote.png
  frontend/src/components/Note/FileStoreModal.jsx
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
  frontend/src/components/WorkSpace/SaveCompleteModal.jsx
  frontend/src/components/common/ShareButton.js
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🌈 frontend

#186 Back/chore/env url
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/file/util/FileUtil.java
Labels: 🔥 backend, ⚙️ chore

#188 feat: 마우스 커서 상대좌표로 개선
  frontend/src/app/slices/cursorSlice.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/Cursor/CursorPointer.js
  frontend/src/components/WorkSpace/Cursor/Cursors.jsx
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#189 fix: 재생바 삭제된 코드 복구
  frontend/src/components/BeatColumn/BeatColumn.js
Labels: ⚙️ chore, 🌈 frontend

#197 feat/악보 아래 클릭 구현, 악보 재생 시 노트 업데이트 변경
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/containers/Note/NoteViewModal.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#198 feat: 악보 찾기 UI 수정
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/containers/Note/NoteSearchModal.js
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#199 Frontend/커서재생오류
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/WorkSpace/Cursor/CursorPointer.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 🌈 frontend

#200 fix: fix bug that image dose not seen
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, 🌈 frontend

#206 feat: VOC 기능 추가
  frontend/src/App.js
  frontend/src/VOC.jsx
Labels: 💫 feat, 🌈 frontend

#208 Frontend/feat-기본 회원가입 구현
  frontend/src/api/authApi.js
  frontend/src/api/loginApi.js
  frontend/src/components/auth/AuthModal.js
  frontend/src/components/common/Header.js
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MyPage.jsx
Labels: 💫 feat, 🌈 frontend

#209 Front/회원가입 알림 처리
  frontend/src/api/authApi.js
  frontend/src/pages/LandingPage.jsx
Labels: 💫 feat, 🌈 frontend

#210 Back/chore/signup request valid
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/dto/RequestAdminFacade.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/dto/RequestMemberFacade.java
Labels: 🔥 backend, ⚙️ chore

#212 feat: 피드에서 스냅샷 열람 후 뒤로가기 시 마이페이지로 가는 문제 수정
  frontend/src/App.js
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MyPage.jsx
  frontend/src/pages/SnapshotPage.js
Labels: ⚙️ chore, 🌈 frontend

#218 Back/chore/views put controller추가
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/api/FeedController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/application/SnapshotService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/application/impl/SnapshotImpl.java
  frontend/src/api/snapshotApi.js
Labels: 🔥 backend, ⚙️ chore, 🌈 frontend

#219 Back/fix/securitycofig of feed
  backend/letsnote/src/main/java/com/geeks/letsnote/global/security/config/SecurityConfig.java
Labels: 🔥 backend, ⚙️ chore

#220 Front/fix/snapshot note 받는부분 수정
  backend/letsnote/src/main/java/com/geeks/letsnote/global/security/config/SecurityConfig.java
  frontend/src/pages/SnapshotPage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#222 Back/feat/221 노트정보api
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/WorkspaceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/dto/ResponseWorkspaces.java
Labels: 🔥 backend, 💫 feat

#224 Frontend/feat/음원 재녹음
  frontend/public/audio/piano/B4.wav
  frontend/public/audio/piano/D4.wav
  frontend/public/audio/piano/Fs4.wav
  frontend/public/audio/piano/G4.wav
Labels: 💫 feat, 🌈 frontend

#226 Front/fix/fix play bug
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatControls/BeatStop.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 🐛 bug, 🌈 frontend

#227 Frontend/feat/드럼 reverb 해제, 소켓 연결 시 렌더링 구현
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/synth/Synth.js
Labels: 💫 feat, 🌈 frontend

#228 Front/fix/beat progress bar fix
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 🐛 bug, 🌈 frontend

#229 Front/fix/재생컬럼럼UI버그개선
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatGrid/BeatGrid.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#230 feat: 피아노 누른 지점 하이라이트 이펙트 구현
  frontend/src/app/slices/innerContentSlice.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 💫 feat, 🌈 frontend

#233 feat: 작업실, 스냅샷 maxX 초기 렌더링 반영
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/SnapshotPage.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#234 feat: 스냅샷 수정
  frontend/src/components/BeatControls/BeatChange.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/pages/SnapshotPage.js
Labels: ⚙️ chore, 💫 feat, 🌈 frontend

#235 chore: 초기 렌더링 8박자에 맞춰지도록 수정
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/SnapshotPage.js
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 🌈 frontend

#238 fix : 필요없는 코드 삭제 + 재 렌더링 되는지 확인하는 콘솔 주석 해제
  frontend/src/components/BeatGrid/BeatGrid.js
Labels: ⚙️ chore, 🌈 frontend

#237 Frontend/feat&fix 음질 개선 및 드럼 버그 해결
  frontend/public/audio/drum/11.mp3
  frontend/public/audio/drum/D2.wav
  frontend/public/audio/drum/E2.wav
  frontend/public/audio/drum/E22.mp3
  frontend/public/audio/guitar/A2.wav
  frontend/public/audio/guitar/A3.wav
  frontend/public/audio/guitar/A4.wav
  frontend/public/audio/guitar/As2.wav
  frontend/public/audio/guitar/As3.wav
  frontend/public/audio/guitar/As4.wav
  frontend/public/audio/guitar/B2.wav
  frontend/public/audio/guitar/B3.wav
  frontend/public/audio/guitar/B4.wav
  frontend/public/audio/guitar/C2.wav
  frontend/public/audio/guitar/C3.wav
  frontend/public/audio/guitar/C4.wav
  frontend/public/audio/guitar/Cs2.wav
  frontend/public/audio/guitar/Cs3.wav
  frontend/public/audio/guitar/Cs4.wav
  frontend/public/audio/guitar/D2.wav
  frontend/public/audio/guitar/D3.wav
  frontend/public/audio/guitar/D4.wav
  frontend/public/audio/guitar/Ds2.wav
  frontend/public/audio/guitar/Ds3.wav
  frontend/public/audio/guitar/Ds4.wav
  frontend/public/audio/guitar/E2.wav
  frontend/public/audio/guitar/E3.wav
  frontend/public/audio/guitar/E4.wav
  frontend/public/audio/guitar/F2.wav
  frontend/public/audio/guitar/F3.wav
  frontend/public/audio/guitar/F4.wav
  frontend/public/audio/guitar/Fs2.wav
  frontend/public/audio/guitar/Fs3.wav
  frontend/public/audio/guitar/Fs4.wav
  frontend/public/audio/guitar/G2.wav
  frontend/public/audio/guitar/G3.wav
  frontend/public/audio/guitar/G4.wav
  frontend/public/audio/guitar/Gs2.wav
  frontend/public/audio/guitar/Gs3.wav
  frontend/public/audio/guitar/Gs4.wav
  frontend/public/audio/piano/C4.wav
  frontend/public/audio/piano/Cs4.wav
  frontend/public/audio/piano/D4.wav
  frontend/public/audio/piano/Ds4.wav
  frontend/public/audio/piano/E4.wav
  frontend/src/app/slices/innerContentSlice.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/constants/scale.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/synth/Synth.js
Labels: 🐛 bug, 💫 feat, 🌈 frontend

#243 Frontend/feat/드럼 연주 모든 악기에서 가능하도록 변경, 드럼 선택 버튼 삭제
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatControls/BeatControls.js
Labels: 💫 feat, 🌈 frontend

#244 feat/피아노F2음 재녹음, 드럼 루프 fix, 스냅샷 재생 바 fix
  frontend/public/audio/piano/F2.wav
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#245 feat/스냅샷 UI 수정
  frontend/src/VOC.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/SnapshotPage.js
Labels: 💫 feat, 🌈 frontend

#246 Frontend/feat/스냅샷 UI 수정
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#249 Feat/247 동음연주구현
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/InstrumentControl/InstrumentChange.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#251 Frontend/feat/비트 최대 300으로 설정, 피아노 표시 버그 수정, 스냅샷에서 악기 선택 버튼 제거
  frontend/src/app/slices/innerContentSlice.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatsPerMinute.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/synth/Synth.js
Labels: 🐛 bug, 💫 feat, 🌈 frontend

#253 Frontend/feat/header Icon 변경, Google Login Button 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/components/auth/AuthModal.js
  frontend/src/components/auth/GoogleLoginButton.js
Labels: 💫 feat, 🌈 frontend

#255 Frontend/fix/드럼 연주시 피아노 음 연주되는 버그 해결, 드럼 루프 렌더링 버그 해결
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/synth/Synth.js
Labels: 🐛 bug, 🌈 frontend

#257 Frontend/feat/스크롤 y축 강제 스크롤 해제
  frontend/src/components/BeatGrid/BeatGrid.js
Labels: 💫 feat, 🌈 frontend

#258 feat: AI 노트 추천 서비스 구현
  backend/letsnote/src/main/java/com/geeks/letsnote/LetsnoteApplication.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/AIModelRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/api/AIModelController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/application/AIModelService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/dto/AIModelRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/dto/AIModelResponse.java
  frontend/src/api/workSpaceApi.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/WorkSpace/AIModal.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#262 Frontend/feat/재생 노트 반응 구현
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/containers/Note/NoteViewModal.js
Labels: 💫 feat, 🌈 frontend

#263 feat: AI 노트 추천 서비스를 구현
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/api/AIModelController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/infrastructure/application/AIModelService.java
  frontend/src/api/workSpaceApi.js
  frontend/src/components/WorkSpace/AIChordModal.js
  frontend/src/components/WorkSpace/AIGenreModal.jsx
  frontend/src/components/WorkSpace/AIInterfaceModal.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#265 Frontend/feat/마이페이지 스냅샷, 작업실 삭제 구현, 다른 사람이 누른 노트 연주 가능하도록 변경
  frontend/src/api/myPageApi.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/BeatColumn.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/feed/PostCard.js
  frontend/src/pages/MyPage.jsx
Labels: 💫 feat, 🌈 frontend

#266 feat: 작업실 외 페이지 UI 개편 적용 (초안)
  frontend/src/App.js
  frontend/src/assets/Main/goWorkplace.png
  frontend/src/assets/Main/mySnapshot.png
  frontend/src/assets/Main/myWorkplace.png
  frontend/src/components/Main/CommonTile.jsx
  frontend/src/components/Main/HeaderAnon.jsx
  frontend/src/components/Main/HeaderUser.jsx
  frontend/src/components/Main/MainMenuTiles.jsx
  frontend/src/components/Main/MenuTile.jsx
  frontend/src/components/Main/Modals/LoginForm copy.jsx
  frontend/src/components/Main/Modals/LoginForm.jsx
  frontend/src/components/Main/TileSlider.jsx
  frontend/src/components/Main/Tiles/SnapshotTile.jsx
  frontend/src/components/Main/Tiles/WorkspaceTile.jsx
  frontend/src/components/Main/Tiles/crown-svgrepo-com.svg
  frontend/src/components/Main/WavesEffect.jsx
  frontend/src/components/feed/PostCard.js
  frontend/src/containers/Main/AnonLandingContainer.jsx
  frontend/src/containers/Main/FeedContainer.jsx
  frontend/src/containers/Main/LandingScroll.jsx
  frontend/src/containers/Main/MySnapshotsContainer.jsx
  frontend/src/containers/Main/MyWorkspacesContainer.jsx
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/LandingPageBefore.jsx
Labels: 💫 feat, 🌈 frontend

#268 Frontend/feat/두 음 표기된 노트 연주시 animate 구현, 악보 모달 리사이즈 구현
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/containers/Note/NoteViewModal.js
Labels: 💫 feat, 🌈 frontend

#270 feat: AI 화음 추천 기능 추가
  frontend/src/api/workSpaceApi.js
  frontend/src/components/WorkSpace/AIChordModal.js
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#271 Frontend/feat/267-재생바 UI 변경
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/BeatControls/BeatProgressBar.js
Labels: 💫 feat, 🌈 frontend

#272 fix: change note piano to guitar
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#275 fix: AI 노트 추천 서비스 버그 수정
  frontend/src/components/WorkSpace/AIChordModal.js
  frontend/src/components/WorkSpace/AIGenreModal.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 🐛 bug, 🌈 frontend

#276 Frontend/작업실외UI개선2
  frontend/src/assets/landing/mainImage.png
  frontend/src/assets/landing/mainImage2.jpeg
  frontend/src/assets/landing/mainImage3.png
  frontend/src/components/Main/HeaderAnon.jsx
  frontend/src/components/Main/HeaderUser.jsx
  frontend/src/components/Main/Tiles/MenuTile.jsx
  frontend/src/containers/Main/AnonLandingContainer.jsx
  frontend/src/containers/Main/FeedContainer.jsx
  frontend/src/containers/Main/MySnapshotsContainer.jsx
  frontend/src/containers/Main/MyWorkspacesContainer.jsx
  frontend/src/pages/LandingPage.jsx
Labels: 💫 feat, 🌈 frontend

#277 Feat/webrtc
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/api/AccountController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/application/AccountService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/application/impl/AccountServiceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/account/dto/ResponseAccount.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/WebRTCRequest.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/dto/WebRTCResponse.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/userIdApi.js
  frontend/src/components/Audio/index.jsx
  frontend/src/components/WebRTC/WebRTC.jsx
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 💫 feat, 🌈 frontend

#279 Frontend/feat/작업실 생성 모달 변경, 편집실 UI 수정
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/MyPage/CreateSpaceModal.jsx
  frontend/src/containers/workplace/CseContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#280 Frontend/작업실외UI개선3
  frontend/src/App.js
  frontend/src/assets/landing/letsnote.png
  frontend/src/components/Main/HeaderAnon.jsx
  frontend/src/containers/Main/AnonLandingContainer.jsx
  frontend/src/pages/DemoWorkPlacePage.js
  frontend/src/pages/LandingPage.jsx
Labels: 💫 feat, 🌈 frontend

#281 chore : webRTC 컨테이너에 spaceId props 전달 버그 수정
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
  frontend/src/components/WorkSpace/SaveSnapshotModal.jsx
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 🌈 frontend

#285 chore: 작업실 내 모달 멘트 수정
  frontend/src/components/Note/FileStoreModal.jsx
  frontend/src/components/Note/SearchImageModal.jsx
  frontend/src/components/WorkSpace/SaveCompleteModal.jsx
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 🌈 frontend

#286 chore: 작업실 내 모달 일부 수정
  frontend/src/components/Note/FileStoreModal.jsx
  frontend/src/components/Note/SearchImageModal.jsx
  frontend/src/components/WorkSpace/AddMemberModal.js
  frontend/src/components/infra/GoogleCustomSearch.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 🌈 frontend

#287 feat: 작업실 참여 멤버 표시
  frontend/src/assets/workspace/memberIcon.png
  frontend/src/assets/workspace/memberIcon2.png
  frontend/src/components/Main/Tiles/WorkspaceTile.jsx
  frontend/src/components/WorkSpace/AddMemberModal.js
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#288 fix : 소켓 통신 버그 수정
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
Labels: 🔥 backend, 🐛 bug, ⚙️ chore

#289 feat: 작업실 헤더 UI 수정, 피드페이지 타일 디자인 수정
  frontend/src/assets/workspace/mic.png
  frontend/src/assets/workspace/mute.png
  frontend/src/components/Main/Tiles/FeedTile.jsx
  frontend/src/components/Main/Tiles/SnapshotTile.jsx
  frontend/src/components/Main/Tiles/WorkspaceTile.jsx
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 💫 feat, 🌈 frontend

#290 소켓 버그 롤백 + 나가는 로직 수정
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 🐛 bug, ⚙️ chore, 🌈 frontend

#292 chore: 마이크 음소거 버튼 수정
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
Labels: ⚙️ chore, 🌈 frontend

#293 turn 서버 배치 및 작업실 제목 수정
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 💫 feat, 🌈 frontend, 🗃 infra

#294 Frontend/커서개선
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/Main/Modals/LoginForm.jsx
  frontend/src/components/Main/Modals/RegisterForm.jsx
  frontend/src/components/Note/NoteNavHeader.js
  frontend/src/components/WorkSpace/Cursor/CursorPointer.js
  frontend/src/components/WorkSpace/Cursor/Cursors.jsx
  frontend/src/components/WorkSpace/Cursor/MouseContext.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/LandingPage.jsx
Labels: 💫 feat, 🌈 frontend

#297 Frontend/feat/스냅샷 헤더 UI 수정
  frontend/src/components/common/ShareButton.js
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
Labels: 💫 feat, 🌈 frontend

#298 Frontend/커서삭제
  frontend/src/app/slices/cursorSlice.js
  frontend/src/components/WorkSpace/Cursor/Cursors.jsx
  frontend/src/components/WorkSpace/Cursor/MouseContext.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 💫 feat, 🌈 frontend

#299 fix : 웹소켓 채널 유저 관리 체계 변경
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
Labels: 🔥 backend, 🐛 bug, ⚙️ chore

#300 feat: 피드 중앙정렬 되도록 수정
  frontend/src/containers/Main/FeedContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
Labels: 💫 feat, 🌈 frontend

#303 Back/chore/hashmap fix 2
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: 🔥 backend, 🐛 bug, ⚙️ chore, 🌈 frontend

#304 feat: 작업실 재생버튼, 진행바 수정
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatControls/BeatButton.js
  frontend/src/components/BeatControls/BeatProgressBar.js
  frontend/src/components/BeatControls/BeatToggle.js
  frontend/src/components/BeatControls/BeatVolume.js
  frontend/src/components/BeatControls/BeatsPerMinute.js
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: ⚙️ chore, 🌈 frontend

#305 chore : beatbox를 margin으로 구분선을 그은것 처럼 보이게 하던 방식을 실제로 구분선을 아래만 주는 방식으로 변경
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
Labels: ⚙️ chore, 🌈 frontend

#307 Frontend/feat/beatbox 크기 조정
  frontend/src/api/snapshotApi.js
  frontend/src/components/BeatColumn/BeatBox.js
  frontend/src/components/BeatColumn/DrumBox.js
  frontend/src/components/WorkSpace/Piano.js
  frontend/src/containers/Snapshot/SnapshotHeader.jsx
  frontend/src/pages/SnapshotPage.js
Labels: 💫 feat, 🌈 frontend

#308 Back/chore/fix logic+fix snapshot api
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/api/FeedController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/application/impl/SnapshotImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/dto/ResponseNotes.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/WebRTCController.java
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 🔥 backend, 🐛 bug, ⚙️ chore, 🌈 frontend

#310 Back/feat/bpm 저장
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/application/impl/SnapshotImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/dto/RequestSnapshot.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/snapshot/entity/Snapshot.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/WorkspaceImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/dto/ResponseNotes.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/dto/ResponseWorkspaces.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/entity/Workspace.java
  frontend/src/components/Audio/index.jsx
Labels: 🔥 backend, ⚙️ chore, 💫 feat

#311 Frontend/bpm저장
  frontend/src/api/workSpaceApi.js
  frontend/src/app/slices/bpmSlice.js
  frontend/src/app/store.js
  frontend/src/components/BeatControls/BeatControls.js
  frontend/src/components/BeatControls/BeatsPerMinute.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
  frontend/src/containers/workplace/WorkSpaceContainer.js
  frontend/src/pages/SnapshotPage.js
  frontend/src/pages/WorkPlacePage.js
Labels: 💫 feat, 🌈 frontend

#312 feat: 커서 삭제 구현 마무리
  frontend/src/app/slices/cursorSlice.js
  frontend/src/components/WorkSpace/Cursor/Cursors.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 💫 feat, 🌈 frontend

#313 feat: 헤더 유저 css 개선
  frontend/src/assets/workspace/soundMute.png
  frontend/src/components/Audio/index.jsx
  frontend/src/components/WorkSpace/HeaderMemberInfo.js
Labels: 💫 feat, 🌈 frontend

#314 chore : 마우스 클릭 비동기화 하여 0.179 -> 0.041 초로 통신 전송 시간 단축
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
  frontend/src/components/BeatGrid/BeatGrid.js
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: 🔥 backend, ⚙️ chore

#317 feat: JWT 프론트 코드 일부 수
  frontend/src/api/authApi.js
  frontend/src/api/axiosInstance.js
  frontend/src/components/auth/AuthModule.jsx
Labels: 💫 feat, 🌈 frontend

#318 Feat/readme
  README.md
  assets/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2024-02-22_110945.png
  assets/Untitled 1.png
  assets/Untitled 10.png
  assets/Untitled 11.png
  assets/Untitled 12.png
  assets/Untitled 13.png
  assets/Untitled 2.png
  assets/Untitled 3.png
  assets/Untitled 4.png
  assets/Untitled 5.png
  assets/Untitled 6.png
  assets/Untitled 7.png
  assets/Untitled 8.png
  assets/Untitled 9.png
  assets/Untitled.png
  assets/Workspace.png
Labels: 📝 docs

#319 Frontend/볼륨조절
  frontend/src/components/Audio/index.jsx
  frontend/src/containers/WebSocket/WebSocketContainer.jsx
Labels: ⚙️ chore, 🌈 frontend

#322 feat : 작업실의 세마포어 생명 주기 코드 생성
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/application/impl/NoteInstrumentMapImpl.java
  backend/letsnote/src/main/java/com/geeks/letsnote/domain/studio/workSpace/semaphore/SemaphoreService.java
  backend/letsnote/src/main/java/com/geeks/letsnote/global/network/api/EditorSocketController.java
Labels: 🔥 backend, ⚙️ chore, 💫 feat

#323 Front/chore/mylocal off when unmonut+볼륨 1로 증가
  frontend/src/components/Audio/index.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: ⚙️ chore, 🌈 frontend

#326 Update Readme.md
  README.md
  assets/Ellipse34.png
  assets/Ellipse35.png
  assets/Ellipse36.png
  assets/Ellipse37.png
Labels: 📝 docs

#327 Update Readme.md and via image files
  README.md
  assets/Ellipse34.png
  assets/Ellipse35.png
  assets/Ellipse36.png
  assets/Ellipse37.png
Labels: 📝 docs
