Repository Team-SoundHub/Let-s-Note, pull requests merged in 2024-03, with the labels that each got.

#328 feat : 데모페이지 기능 구현
  frontend/src/containers/Main/AnonLandingContainer.jsx
  frontend/src/containers/Main/FeedContainer.jsx
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/DemoWorkPlacePage.js
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/WorkPlacePage.js
Labels: ⚙️ chore, 💫 feat, 🌈 frontend

#329 Front/feat/체험하기
  frontend/src/pages/DemoWorkPlacePage.js
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#331 Front/chore/헤더버그 수정
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#332 chore : isConnected가 하드코딩되어있어서 코드 안읽고 바로 렌더링하여 버그 발생
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#333 chore : isConnected가 하드코딩 되어있어서 코드 안읽고 바로 렌더링하여 버그 발생 - 이전 커밋에 추가안됨
  frontend/src/pages/DemoWorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#334 chore : prop 렌더링 차이로 헤더 css를 못가져 오는 문제 -> prop들 전부 제공 + 필요없는 css 주석
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/DemoWorkPlacePage.js
  frontend/src/pages/WorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#335 chore : 타임아웃으로 렌더링 주기 컨트롤해서 styled-component 재 렌더링 시키기 시도
  frontend/src/pages/DemoWorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#336 chore : css 버그 해결 시도 - styled-component는 아래에 있어야 런타임시 올바르게 작동을 보장
  frontend/src/containers/workplace/WorkSpaceHeader.jsx
  frontend/src/pages/DemoWorkPlacePage.js
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#338 Front/chore/체험하기버그해결시도7
  frontend/src/pages/LandingPage.jsx
Labels: 🐛 bug, 🌈 frontend

#339 chore : 체험헤더 새로 생성하여 필요없는 props들 전달 x
  frontend/src/containers/workplace/DemoHeader.jsx
  frontend/src/pages/DemoWorkPlacePage.js
  frontend/src/pages/LandingPage.jsx
Labels: 🐛 bug, 🌈 frontend

#340 chore : props를 null로 전달할 시 해당 컨테이너의 styled-component가 반영되지 않는 것을 확인
  frontend/src/components/Demo/DemoHeaderMemberInfo.js
  frontend/src/containers/workplace/DemoHeader.jsx
Labels: 🐛 bug, ⚙️ chore, 🌈 frontend

#341 chore: 랜딩페이지 스크롤영역 제거
  assets/main.png
  frontend/src/pages/LandingPage.jsx
Labels: ⚙️ chore, 🌈 frontend
